@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:wght@200..800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff1e0;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  top: 0;
  left: 0;
  width: 100%;
}

h3 {
  font-weight: bold;
  margin: 20px 0;
}

h1 {
  font-weight: bold;
}

.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 60%;
  margin-block: 10px;
}

.header-menu li {
  margin: 0 15px;
}

.header-menu li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.homeLink {
  background-image: linear-gradient(120deg, #f474c0, #7e9563 100%);
  background-repeat: no-repeat;
  background-size: 15px 0.1em;
  background-position: 0% 100%;
  transition: background-size 0.25s ease-in;
}

.homeLink:hover {
  background-size: 100% 5% !important;
}
.about {
  max-width: 1200px;
  margin: auto;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.paragraphe a{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
}

.paragraphe a img{
  width: 100px;
  margin-top: 10px;
}
.photo {
  margin-right: 15px;
  float: right;
  max-width: 300px;
  opacity: 0;
  transform: scale(0.8);
  animation: fadeIn 1.5s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
section {
  padding: 40px;
  text-align: left;
}

#Projet {
  padding: 40px;
  text-align: left;
  justify-content: flex-start;
  max-width: 1200px;
  margin: auto;
}

.container {
  width: 100%;
  display: flex;
  gap: 2rem;
  border-radius: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
}

.card {
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 352px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 1rem;
  background-color: white;
  text-align: center;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.scroll-wrapper {
  margin: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.arrow {
  background-color: #333;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.arrow.left {
  position: absolute;
  left: -20px;
}

.arrow.right {
  position: absolute;
  right: -20px;
}
#competences {
  max-width: 1200px;
  margin: auto;
}
#competences ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

#competences li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#competences li img {
  width: 50px;
  height: auto;
  margin-block: 10px;
}

.menu-footer {
  padding: 40px;
  text-align: left;
  justify-content: flex-start;
  max-width: 1200px;
  margin: auto;
  background-color: white;
  text-align: center;
  margin-bottom: 50px;
}

.menu-footer ul {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.menu-footer li a {
  color: black;
  text-decoration: none;
}

.menu-footer ul img {
  width: 50px;
  height: auto;
  margin-block: 10px;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none; /* Supprime le fond du bouton */
  border: none;
  padding: 0;
  cursor: pointer;
  display: none; /* Caché par défaut */
  transition: opacity 0.3s;
}

#backToTop img {
  width: 50px; /* Ajuste la taille de l'image */
  height: 50px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

#backToTop img:hover {
  opacity: 1;
}

.backToTopvVisible {
  display: block !important;
}

.footer{
  background-color: white;
}
.footerLink {
  transition: all 0.6s ease-in-out;
}

.footerLink:hover {
  transform: rotate(360deg);
  transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 768px) {
  .card:first-of-type {
    margin-left: 38px;
  }
  .card:last-child {
    margin-right: 38px;
  }
  .about {
    justify-content: center;
  }
  .photo {
    width: 50vw;
  }

  .competences ul {
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  .header-menu {
    flex-direction: row;
    margin-left: 50px;
    justify-content: flex-end;
  }

  .header-menu li {
    margin: 10px 0;
  }

  .menu-footer ul {
    flex-direction: row;
    align-items: center;
  }

  .container {
    width: 100%;
    scroll-snap-align: center;
    gap: 3rem;
  }

  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .content img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
  }
}
